
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<style>
    body { padding-top:30px; }
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
</style>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Recent Comments</h3>
            </div>
            {% if object %}
                {% for comment in object %}
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="/PyTraker/comments/{{ comment.id }}">
                                        {{ comment.comment }}</a>
                                    <div class="mic-info">
                                        By: <a href="#">{{ comment.user }}</a> on {{ comment.comment_date }}
                                    </div>
                                </div>
                                <div class="action">
<!--                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">-->
<!--                                        <span class="glyphicon glyphicon-pencil"></span>-->
<!--                                    </button>-->

                                    {% if comment.user == user %}
                                    <button type="button" class="delete-btn" title="Delete">
                                        <a href="{{ comment.id }}/delete/"><span class="glyphicon glyphicon-trash"></span></a>
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}
{% else %}
<h2>You don't have any comment for display </h2>
<!-- for django to stop the if else analysis -->
{% endif %}
  <div class="input-group input-group-lg" style="width:1000px">
  <div class="input-group-prepend">
      <h3><span class="input-group-text" id="inputGroup-sizing-lg">What's in your mind!</span></h3>
  </div>
      <form method="POST" action="">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    <label>Comment:</label>
<!--    <textarea name="comment" id="id_comment"></textarea>-->
          <input type="text" class="form-control" name="comment" id="id_comment">
    <input class="new-btn" type="submit" value="Share" />
</form>

</div>
        </div>
    </div>
</div>

