{% extends "PyTraker/header.html" %}

{% block content %}
<div class="page-wrap">
<h1>Edit Invoice</h1>
    <a href="/PyTraker/invoice/{{ invoice.id }}">Back</a>
    <div class="container">
        <h2>{{ note }}</h2>

        <form action="/PyTraker/edit_invoice/{{ invoice.id }}/" method="post">
        {% csrf_token %}
        {{ invoice_form.as_p }}
        <input type="submit" value="Update" class="new-btn">
        <a href="/PyTraker/delete_invoice/{{ invoice.id }}/"  class="delete-btn"  id ='{{invoice.id}}'>Delete</a>

        </form>

    </div>

{% endblock %}
</div>