{% extends "PyTraker/header.html" %}


{% block content %}

<div class="page-wrap">
{% if user.is_authenticated %}
<h1> {% if user.profile %} Welcome {{ user.profile.firstname }} {{ user.profile.lastname }}, here are your current projects {% else %}
Welcome {{ user.username }}, here are your current projects{% endif%}</h1>
<div>
    <p>Would you like to add a new project?</p>
    <a class="new-btn" href= "/PyTraker/new_project">New Project</a>
</div>
{% if page_obj %}
    <div class="project-wrap">
    <div class="card-deck">
         {% for project in page_obj %}
        <div class="card border-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Project # {{ project.id }}</div>
            <div class="card-body text-dark">
            <h5 class="card-title"><a href="/PyTraker/details_project/{{ project.id }}">{{ project.name }}</a></h5>
            <p class="card-text">Client: {{ project.description }}</p>
            <p class="card-text">Due: {{ project.dueDate.date }}</p>
        </div>
        </div>
     {% endfor %}
    </div>
    </div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p> No projects yet!</p>
{% endif %}
    <div>
    </div>
{% else %}
<div class="alert alert-secondary" id="logged-out">{{ mess }}</div>
{% endif %}

{% endblock %}
</div>